@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Book League</h1>
    <p class="lead">Welcome to Book League! This website is designed to bring people together to enjoy discussions about books and the many wonders they can hold. With this interface, the sky is the limit.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Books Galore</h2>
        <p>
            Book League lets you browse through a library of books that have been rated by other users.
            We urge you to accurate rate as many books as you can to let others know of your reading
            experience.
        </p>
    </div>
    <div class="col-md-4">
        <h2>What about Groups?</h2>
        <p>
            Users can create groups to keep track of how many "clubs" they are part of. These can be
            made based on similar interests, topics, or where you know others from such as school or work.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Schedule Events</h2>
        <p>
            Once users have created a group, they can set up events within that group. 
            This acts as a scheduler that lets you select the date and time your group
            will meet to discuss the current section of the selected title.
        </p>
    </div>
</div>